{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
  <section class="container mt-5 pt-5">
      <h1 class="text-center">Carrito de Compras</h1>
      {% if items %}
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Producto</th>
                      <th>Cantidad</th>
                      <th>Precio Unitario</th>
                      <th>Total</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for item in items %}
                      <tr>
                          <td>{{ item.producto.nombre }}</td>
                          <td>{{ item.cantidad }}</td>
                          <td>
                              {% if item.producto.es_oferta %}
                              <del>${{ item.producto.precio }}</del> <strong>${{ item.producto.precio_oferta }}</strong>
                              {% else %}
                              ${{ item.producto.precio }}
                              {% endif %}
                          </td>
                          <td>
                              {% if item.producto.es_oferta %}
                              ${{ item.producto.precio_oferta|multiplicar:item.cantidad }}
                              {% else %}
                              ${{ item.producto.precio|multiplicar:item.cantidad }}
                              {% endif %}
                          </td>
                          <td>
                              <a href="{% url 'eliminar_item_carrito' item.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div class="d-flex justify-content-end">
              <a href="{% url 'efectuar_compra' %}" class="btn btn-success btn-lg">Efectuar compra</a>
          </div>
      {% else %}
          <p class="text-center">Tu carrito está vacío.</p>
      {% endif %}
  </section>
{% endblock %}
