
{% extends "base.html" %}
{% block content %}
  <section class="container-fluid mt-2 pt-2">
    <h1 class="text-center">Todos los Productos</h1>
  </section>

  <section class="container mb-5 mt-2 pt-2">

<!-- INICIO CARDS     -->

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col text-center">
      <div class="card">
        <img src="Imagenes/9.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Chalequito Juliet</h5>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto1">
            Ver producto 
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center" >
        <img src="Imagenes/10.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Chalequito Hilo Rojo</h5>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto2">
            Ver producto 
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img src="Imagenes/11.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Chalequito University</h5>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto3">
            Ver producto 
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img src="Imagenes/13.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Chalequito Red Stripes</h5>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto4">
            Ver producto 
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img src="Imagenes/14.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Chalequito Blue Whale</h5>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto5">
            Ver producto 
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img src="Imagenes/15.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Chalequito Eddie Cream</h5>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto6">
            Ver producto 
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img src="Imagenes/1.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Chalequito Isis Layer</h5>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto7">
            Ver producto 
          </button>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card text-center">
        <img src="Imagenes/2.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Chalequito Garden</h5>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto8">
              Ver producto 
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <img src="Imagenes/3.jpg" class="card-img-top">
          <div class="card-body">
              <h5 class="card-title">Chalequito LittleCherry</h5>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto9">
                Ver producto 
              </button>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <img src="Imagenes/16.jpg" class="card-img-top">
              <div class="card-body">
                  <h5 class="card-title">Chalequito Atardecer</h5>
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto10">
                    Ver producto 
                  </button>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <img src="Imagenes/17.jpg" class="card-img-top">
              <div class="card-body">
                  <h5 class="card-title">Chalequito Deep Ocean</h5>
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto11">
                    Ver producto 
                  </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <img src="Imagenes/13.jpg" class="card-img-top">
              <div class="card-body">
                  <h5 class="card-title">Chalequito Red Stripes</h5>
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto12">
                    Ver producto 
                  </button>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <img src="Imagenes/6.jpeg" class="card-img-top">
              <div class="card-body">
                  <h5 class="card-title">Chalequito Gray Sheep</h5>
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto13">
                    Ver producto 
                  </button>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <img src="Imagenes/7.jpeg" class="card-img-top">
              <div class="card-body">
                  <h5 class="card-title">Chalequito Ocean</h5>
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto14">
                    Ver producto 
                  </button>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
              <img src="Imagenes/8.jpeg" class="card-img-top">
              <div class="card-body">
                  <h5 class="card-title">Chalequito Mateo</h5>
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto15">
                    Ver producto 
                  </button>
              </div>
            </div>
        </div>
    </div>
  </section>

  <!-- FINAL CARDS    -->


  <!-- INICIO MODAL -->
  <!-- MODAL 1 -->
  <div class="modal fade" id="modal-producto1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Juliet</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
            <div class="row g-0">
              <div class="col-md-4 text-center">
                <img src="Imagenes/9.jpeg" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">$21,990</h5>
                  <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- FIN MODAL 1 -->

  <!-- MODAL 2 -->
  <div class="modal fade" id="modal-producto2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Hilo Rojo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
            <div class="row g-0">
              <div class="col-md-4 text-center">
                <img src="Imagenes/10.jpeg" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">$21,990</h5>
                  <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN MODAL 2 -->

<!-- MODAL 3 -->
<div class="modal fade" id="modal-producto3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito University</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/11.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL 3 -->

<!-- INICIO MODAL 4 -->

<div class="modal fade" id="modal-producto4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Red Stripes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/13.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 4 -->

<!-- INICIO MODAL 5 -->

<div class="modal fade" id="modal-producto5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Blue Whale</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/14.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 5 -->

<!-- INICIO MODAL 6 -->

<div class="modal fade" id="modal-producto6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Eddie Cream</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/15.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 6 -->

<!-- INICIO MODAL 7 -->

<div class="modal fade" id="modal-producto7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Isis Layer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/1.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 7 -->

<!-- INICIO MODAL 8 -->

<div class="modal fade" id="modal-producto8" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Garden</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/2.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 8 -->

<!-- INICIO MODAL 9 -->

<div class="modal fade" id="modal-producto9" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito LittleCherry</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/3.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 9 -->

<!-- INICIO MODAL 10 -->

<div class="modal fade" id="modal-producto10" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Atardecer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/16.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 10 -->

<!-- INICIO MODAL 11 -->

<div class="modal fade" id="modal-producto11" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Deep Ocean</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/17.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 11 -->

<!-- INICIO MODAL 12 -->

<div class="modal fade" id="modal-producto12" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Red Stripes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/13.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 12 -->

<!-- INICIO MODAL 13 -->

<div class="modal fade" id="modal-producto13" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Gray Sheep</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/6.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 13 -->

<!-- INICIO MODAL 14 -->

<div class="modal fade" id="modal-producto14" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Ocean</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/7.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 14 -->

<!-- INICIO MODAL 15 -->

<div class="modal fade" id="modal-producto15" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Chalequito Mateo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="Imagenes/8.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">$21,990</h5>
                <p class="card-text small">Nuevo Sweater Mesh, un sweater de estilo calado muy cómodo y estiloso. Con terminaciones en cuello, puños y pretina inferior mas grueso lo que proporciona un calce cómodo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-carro-compras">Añadir al carrito de compras</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN MODAL 15 -->

<!-- MODAL CARRO DE COMPRAS -->
<div class="modal fade" tabindex="-1" id="modal-carro-compras" data-bs-backdrop="static" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Producto añadido con éxito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-foote d-flex justify-content-center  mt-3 mb-3">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL CARRO DE COMPRAS -->

<!-- FINAL MODAL -->

{% endblock %}
