{% extends "base.html" %}
{% block content %}
<section class="container-fluid mt-2 pt-2">
    <h1 class="text-center">Todos los Productos</h1>
</section>

<section class="container mb-5 mt-2 pt-2">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for producto in productos %}
        <div class="col text-center">
            <div class="card">
                <img src="{{ producto.imagen.url }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">${{ producto.precio }}</p>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-producto{{ producto.id }}">
                        Ver producto
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-producto{{ producto.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ producto.nombre }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-3" style="max-width: 640px; margin: 0 auto;">
                            <div class="row g-0">
                                <div class="col-md-4 text-center">
                                    <img src="{{ producto.imagen.url }}" class="img-fluid rounded-start">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">${{ producto.precio }}</h5>
                                        <p class="card-text small">{{ producto.descripcion }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <a href="{% url 'agregar_al_carrito' producto.id %}" class="btn btn-primary">Añadir al carrito de compras</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Modal de confirmación -->
<div class="modal fade" tabindex="-1" id="modal-carro-compras" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Producto añadido con éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer d-flex justify-content-center mt-3 mb-3">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
